.bubble {
    display: inline-block;
    border: 3px solid black;
    border-radius: 10px;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    background-color: white;
    color: black;
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    width: 725px;
}

.button {
    padding: 10px;
    padding-right: 35px;
    padding-left: 35px;
    border: 2px solid black;
    background-color: white;
    border-radius: 5px;
    color: black;
    margin-right: 10px;
}

.button:hover {
    cursor: pointer;
}

#colorinput {
    padding: 10px;
    padding-right: 35px;
    border: 2px solid black;
    background-color: white;
    border-radius: 5px;
    color: black;
    margin-right: 10px;
}
