.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#logo {
    width: 150px;
    height: 53px;
}

#item1 {
    margin-left: auto
}

.header div {
    padding: 5px;
}

#item5 {
    background-color: darkslateblue;
}

#item5 a {
    color: white
}

#item5:hover {
    background-color: darkblue;
}

#item5 a:hover {
    text-decoration: none;
}

.header a {
    text-decoration: none;
    color: black;
}

.header a:hover {
    text-decoration: underline;
}